*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #D6D58E;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    color: white;
    text-align: center;
    background-color: #005C53;
    margin-bottom: 2rem;
}
h1{
    padding: 2rem;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.637);
    margin-bottom: 20rem;
}
section p{
    padding: 0.5rem 0;
}
#dados{
    margin-bottom: 1rem;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    background-color: #042940;
}
footer p{
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
}