@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #090909;
    padding: 50px;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2327;
    padding-block: 15px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
}

.navbar a:hover{
    color: #090909;
}

.logo{
    margin-right: 50px;
}

.list{
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler,
.navbar label{
    display: none;
}

main{
    display: grid;
    place-items: center;

    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}
section{
    padding-top: 3rem;
}

.paragraph span{
    color: #fff;
    display: block;
    opacity: 0;
    animation: reveal 0.5s forwards var(--d);
}

@keyframes reveal {
    from {
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

@media screen and (max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}